<article class="card mb-3 shadow-sm">
  <div class="card-body">
    <a [routerLink]="['museums/', museumRef]"><img src="{{museumImage}}" class="card-img-top mb-2" alt="..."></a>
    <div class="card-title">
      <a [routerLink]="['museums/', museumRef]">
        <h2 class="h4 mb-3" style="text-decoration: none">{{museumName}}</h2>
      </a>
    </div>

    <!-- <div class="coverPhoto" [ngStyle]="background-image:url(./assets/image)">
    </div> -->
    <!-- Localisation -->
    <div class="row mb-2">
      <div class="col-1">
        📍
      </div>
      <div class="col-10">
        <p class="card-text">
          {{museumAdress}}<br>
          {{museumZipCode}} {{museumCity | titlecase}}
        </p>
      </div>
    </div>
    <!-- Phone -->
    <div class="row mb-2">
      <div class="col-1">
        📞
      </div>
      <div class="col-10">
        <p class="card-text"><a href="tel:{{museumPhone}}">{{museumPhone}}</a></p>
      </div>
    </div>
    <!-- Website -->
    <div class="row mb-2">
      <div class="col-1">
        💻
      </div>
      <div class="col-10">
        <p class="card-text">
          <a href="https://{{museumWebSite}}" target="blank">{{museumWebSite}}</a>
        </p>
      </div>
    </div>
    <!-- Opening hours -->
    <div class="row mb-2">
      <div class="col-1">
        🕒
      </div>
      <div class="col-10">
        <p class="card-text">{{museumOpening}}</p>
      </div>
    </div>
    <!-- View detail -->
    <div class="row mb-2">
      <div class="col-1">
        ➕
      </div>
      <div class="col-10">
        <p class="card-text"><a [routerLink]="['museums/', museumRef]">Détails</a></p>
      </div>
    </div>

  </div>
</article>